* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav p {
  font-size: 2rem;
  align-items: center;
}
nav .header-icon-container {
  display: flex;
  gap: 1.5rem;
}
nav .header-icon-container button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.main-article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #7C6A0A;
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.main-article-container .main-article-info {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding-top: 7rem;
}
.main-article-container .main-article-info h1 {
  font-size: 3.6rem;
}
.main-article-container .main-article-info p {
  font-size: 2rem;
}
.main-article-container .main-article-info button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.main-article-container .main-article-info .main-article-button {
  width: 16rem;
  padding: 2rem;
  background-color: #FA9500;
  border-radius: 3.5rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}
.main-article-container .main-article-info .main-article-button:hover {
  transform: scale(1.1);
  background-color: rgb(218, 138, 0);
}
.main-article-container img {
  width: 25vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2rem;
}

section {
  width: 100%;
  height: auto;
  padding: 4rem;
  padding-top: 8rem;
}
section h2 {
  color: #7C6A0A;
  font-size: 3rem;
}
section .healtcare h2, section .furniture h2 {
  font-weight: 400;
  padding-bottom: 6rem;
}
section .healtcare .card-container, section .furniture .card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 16rem;
       column-gap: 16rem;
  row-gap: 6rem;
  padding-bottom: 6rem;
}
section .healtcare .card-container .like-product, section .furniture .card-container .like-product {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 1rem;
}
section .healtcare .card-container .like-product svg path, section .furniture .card-container .like-product svg path {
  stroke: currentColor;
}
section .healtcare .card-container .like-product svg, section .furniture .card-container .like-product svg {
  width: 2.4rem;
  height: 2.4rem;
  color: #7C6A0A;
}
section .healtcare .product-card, section .furniture .product-card {
  width: 32.4rem;
  height: 45rem;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 2rem;
  border-radius: 0.8rem;
}
section .healtcare .product-card .product-img, section .furniture .product-card .product-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
section .healtcare .product-card .product-img img, section .furniture .product-card .product-img img {
  width: 24rem;
  height: 30rem;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section .healtcare .product-card h3, section .furniture .product-card h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
section .healtcare .product-card p, section .furniture .product-card p {
  font-size: 1.2rem;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.main-info-section--aboutUs h2 {
  font-weight: bold;
  padding-bottom: 6rem;
}
.main-info-section--aboutUs .main-info-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 12rem;
}
.main-info-section--aboutUs .main-info-mission .aboutUs-earth, .main-info-section--aboutUs .main-info-mission .aboutUs-innovation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.main-info-section--aboutUs .main-info-mission .aboutUs-earth p, .main-info-section--aboutUs .main-info-mission .aboutUs-innovation p {
  font-weight: 600;
  color: #FA9500;
  font-size: 1.6rem;
}

.main-info-section--galery {
  padding-bottom: 10rem;
}
.main-info-section--galery h2 {
  font-weight: bold;
  padding-bottom: 6rem;
}
.main-info-section--galery .galery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-info-section--galery .galery-images img {
  width: 28vw;
  height: 45vh;
  border-radius: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-info-section--galery .galery-images img:hover {
  transform: scale(1.1);
}

.main-info-section-location {
  padding-bottom: 10rem;
  color: #FA9500;
}
.main-info-section-location h2 {
  font-weight: bold;
  padding-bottom: 6rem;
}
.main-info-section-location .location-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.main-info-section-location .location-direction-title {
  font-size: 3.5rem;
}
.main-info-section-location .location-direction-subtitle {
  font-size: 2.5rem;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 4rem;
  color: white;
}
footer h2 {
  padding-bottom: 1rem;
}
footer .footer-options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}/*# sourceMappingURL=main.css.map */